.nav_logo{
  max-width: 68px ;
  margin: unset!important;
 
}

.social-icons-container li {
  margin-left: 2.5px!important;
  margin-right: 2.5px!important;
}

.social-icons ul li .m_icon {
 background-color:#3e3e3e!important;
}
.service_box.type_three .content_box .content_box_in {
 /* background-color:#ffffffe6!important; */
}


.slick-arrow {
  background: transparent!important;
  border: transparent!important;
}
.slick-prev:before, .slick-next:before {
  color:white!important;
  opacity: 1!important;
  font-size: 70px!important;
}

@media  (min-width: 767px) {
  .hide-on-lg {
    display:none!important;
  }
}
@media  (max-width: 997px) {
  .hidden-xs {
    display:none!important;
  }
}
@media  (max-width: 645px) {
  .nav_logo{
    max-width: 38px ;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 42px!important;
  }
}

.hidden{
  display: none;
}